doctype html

html
	head
		title hello
		style
			include css/viewplan.css
	body
		a(href='/home' class='log-out' style="float: left;")
			span back
		a(href='/logout' class='log-out' style="float: right;")
			span Log out 
		center
			img(src='/logo.png')
		- var k = 0
		each i in places
			- var images = ['bg-images/bg1.jpg', 'bg-images/bg2.jpg', 'bg-images/bg3.jpg', 'bg-images/bg4.jpg', 'bg-images/bg5.jpg', 'bg-images/bg6.jpg', 'bg-images/bg7.jpg', 'bg-images/bg8.jpg', 'bg-images/bg9.jpg', 'bg-images/bg10.jpg', 'bg-images/bg11.jpg', 'bg-images/bg12.jpg', 'bg-images/bg13.jpg', 'bg-images/bg14.jpg', 'bg-images/bg15.jpg'];
			div(class='place' style="float: left;")
				img(src=images[k%15], width=250, height=200)
				h3= i.placename
				br
				if k == 0
					span Starting Point
					br
				else
					span= "Arrival on: " + i.arrival.slice(8, 10) + "th at " + i.arrival.slice(11, 16)
					br
				span= "Departing on: " + i.departure.slice(8, 10) + "th at " + i.arrival.slice(11, 16)
				br
				if k == 0
					continue
				else
					span= "Distance: " + journey[k-1].distance + " kms"
				- k++
		div(class='place' style="float: left;")
			img(src='bg-images/bg15.jpg', width=250, height=200)
			h3= places[0].placename
			span End Point
			br